{{!-- <img src="https://securecdn.pymnts.com/wp-content/uploads/2019/03/cryptocurrency-bitcoin-LVMH-rakutenwallet.jpg"
    alt="Crypto" style="width:100%; height:100%;"> --}}
<div class="container">
    <h1>Welcome to bit currency</h1>

    <a href="http://localhost:3001/bit"> To see a top 10 crypto currencies rates click here.</a>
</div>